<div *ngIf= "showHomeFeed">
<mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>MR. X</mat-card-title>
		<mat-card-subtitle>fake news feed</mat-card-subtitle>
	</mat-card-header>
</mat-card>
<mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Miss. Y</mat-card-title>
		<mat-card-subtitle>fake news feed abcdEF </mat-card-subtitle>
	</mat-card-header>
</mat-card>
<mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Mr. Z</mat-card-title>
		<mat-card-subtitle>fake news feed </mat-card-subtitle>
	</mat-card-header>
</mat-card>
</div>
